forkapi/sql/db.sqlite3
forkapi/recipe/migrations/*
forkapi/authentication/migrations/*
forkapi/schedule/migrations/*
forkapi/media/images
forkapi/media/videos
forkapi/media/backups/**/*.zip
forkapi/media/audio/**/*.mp3
forkapi/static/*
forkapi/backupper/migrations/*
assets/*
.tox
.github
.venv
.
.env
__pycache__/
*.pyc
node_modules/
build/
dist/
*.log
*.sqlite
*.env
