forkapi/sql/db.sqlite3
forkapi/recipe/migrations/*
forkapi/authentication/migrations/*
forkapi/schedule/migrations/*
forkapi/media/images
forkapi/media/videos
forkapi/media/backups/**/*.zip
forkapi/static/*
forkapi/backupper/migrations/*
assets/*
.tox
.github
.venv
.
.env
