# created by virtualenv automatically
.venv/*
.idea/*
.env
media/*
forkapi/sql/db.sqlite3
forkapi/authentication/migrations/*
forkapi/recipe/migrations/*
forkapi/schedule/migrations/*
forkapi/shopping/migrations/*
__pycache__
forkapi/static/*
forkapi/media/images
forkapi/media/videos
forkapi/media/audio/*
fullchain.pem
privkey.pem
.tox
forkapi-docs/site/*
