services:
  db:
    image: postgres
    restart: always
    network_mode: "host"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: root
    volumes:
      - pgdata:/var/lib/postgresql/data 
 
volumes:
  pgdata:
